@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree serif";
}

h1 {
  margin: 30px;
  text-align: center;
}

body {
  background-color: #1b1b1b;
  color: white;
}

.card-main {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  background-color: #e6f6ff;
  width: fit-content;
  height: 50vh;
  color: black;
  border-radius: 17px;
  text-align: center;
}

.card-main img {
  height: 50vh;
  float: left;
  margin-right: 20px;
}

.card-description {
  padding: 20px;
}

.card-description p {
  padding-top: 20px;
}

button {
  background-color: lightblue;
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.break {
  margin: 40px 30px;
}

.card-recommended {
  display: flex;
  margin: 30px;
  width: fit-content;
}

@media (max-width: 768px) {
  .card-main {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 20px auto;
    text-align: left;
  }

  .card-main img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 17px 17px 0 0;
  }

  .card-description {
    padding: 15px;
  }

  .card-description p {
    padding-top: 10px;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .card-recommended {
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
  }
}
